body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: 'Courier New', Courier, monospace;
}

button {
    font-family: 'Courier New', Courier, monospace;
}